body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  /* background-position: 100% 10%; */
  background-position: center center;
  background-size: cover;
}

p {
  color: rgb(34, 34, 34);
}